
.component-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.component-card {
  border-bottom: 12px solid $yellow;
  box-shadow: 0 0 1px 1px $black;
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 30px;
  width: 100%;

  @media(min-width: 768px) {
    width: calc(50% - 30px);
    margin-right: 30px;
    
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.meta {
  font-size: 11px;
  margin-bottom: 70px;

  &__info {
    margin-right: 20px;
  }
}
