// Style table

table {
  margin-bottom: rem(15px);
  width: 98%;
  border: 1px solid $black;
  border-radius: 6px;
  border-collapse: inherit;
  
  @media (min-width: $desktop) {
    min-width: 98%;
  }
}

td,
th {
  border-bottom: rem(1px) solid $gray-d9;
  min-width: rem(120px);
  padding: rem(10px 18px);
  vertical-align: top;
}

td {
  tr:last-of-type & {
    border-bottom: none;
  }
}

th {
  font-weight: 700;
  border-color: $black;
}

.table-responsive {
  margin-bottom: rem(15px);
  overflow-x: auto;
  width: 100%;

  table {
    margin-bottom: 0;
  }
}
